<template>
    <div>
        <div v-if="solicitudes.length > 0" v-for="solicitud in solicitudes" class="row rounded"
             style="margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xl-12 border bg-secondary">
                <div class="row">
                    <div class="col-4 col-lg-3 col-md-4 col-sm-4 col-xl-6 align-middle">
                        <img :src="imagen(solicitud)" alt="Usuario-" class="img-fluid rounded"
                             style="height: 80px; width: 80px;"/>
                    </div>
                    <div class="col-4 col-lg-5 col-md-5 col-sm-5 col-xl-6 ">
                        <a href="#" data-toggle="modal" data-target="#modal-" style="color: black;"
                           @click="openmodal(solicitud)">
                            <h5 class="text-primary">Solicitante: {{ solicitud.usuarios.name }}</h5>
                            <div>
                                Terapia: {{ solicitud.terapias.nombre }}
                            </div>
                            <div>
                                Valor: {{ solicitud.precio }}
                            </div>
                        </a>
                    </div>
                    <div class="col-4 col-lg-2 col-md-3 col-sm-3 col-xs-12 ">

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xl-12 ">
                            <small>Fecha: {{ solicitud.created_at }}</small>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xl-12 ">
                            <small>Tipo: {{ solicitud.tipo_solicitud }}</small>
                        </div>
                    </div>
                    <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 justify-content-between">
                        <router-link to="#" class="btn btn-lg btn-block btn-success ">
                            <i class="far fa-check-circle"></i> Aprobar
                        </router-link>
                        <router-link to="#" class="btn btn-lg btn-block btn-danger">
                            <i class="fas fa-ban"></i> Rechazar
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal-">
            <div class="modal-dialog">
                <div class="modal-content" v-if="solicitud.id">
                    <div class="modal-header">
                        <a href="#" type="button" style="padding: 1rem 1rem;" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </a>
                        <h2 class="modal-title col">{{ solicitud.tipo_solicitud }}</h2>
                    </div>
                    <div class="modal-body">
                        <p>{{ solicitud.descripcion }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                solicitudes: [],
                solicitud: Object
            }
        },
        methods: {
            getSolicitudes() {
                axios.get('/solicitudes')
                    .then((response) => {
                        this.solicitudes = response.data.solicitudes;
                    })
            },
            imagen(solicitud) {
                return '/imagenes/usuarios/' + solicitud.usuarios.imagen;
            },
            openmodal(soli) {
                this.solicitud = soli;
            }
        },
        created() {
            this.getSolicitudes();
        }
    }
</script>

<style scoped>

</style>
