<template>
    <div class="d-flex row justify-content-center">
        <div class="col-12 d-flex">
            <div class="card" style="width: 18rem;">
                <img :src="imagen" alt="Noticia-" class="img-fluid rounded"/>
                <div class="card-body text-center">
                    <h5 class="card-title">{{ noticia.titulo }}</h5>
                    <p class="card-text">{{ noticia.detalle }}</p>
                    <router-link :to="{name:'home'}" class="btn btn-primary">Volver</router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                noticia: Object,
            }
        },
        created() {
            let url = '/home/' + this.$route.params.id;
            axios.get(url)
                .then((response) => {
                    this.noticia = response.data.noticias;
                })
                .catch(console.log());
        },
        computed: {
            imagen() {
                return "/imagenes/noticias/" + this.noticia.imagen
            }
        }
    }
</script>

<style scoped>

</style>
