<template>
    <div v-if=" atenciones && atenciones.length >0">

        <div v-for="atencion in atenciones" class="row bg-secondary border rounded"
             style="margin-bottom: 5px; margin-right: 5px; margin-left: 5px;">
            <div class="col-3">
                <router-link to="#">
                    <img :src="imagenuser" style="height: 100px; width: 100px;" alt="Terapeuta-"
                         class="img-responsive rounded"/>
                </router-link>
            </div>
            <div class="col-9">
                <div class="col-12">
                    <div class="row" style="color: #5F1961;">
                        <div class="col-4">
                            Terapia
                        </div>
                        <div class="col-8">
                            {{ atencion.Terapia.nombre }}
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row text-texto">
                        <div class="col-4">
                            Cliente
                        </div>
                        <div class="col-8">
                            {{ atencion.Cliente.name }}
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row text-texto">
                        <div class="col-4">
                            Hora
                        </div>
                        <div class="col-8">
                            {{ atencion.Horario.fecha }} {{ atencion.Horario.hora }}
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row text-texto">
                        <div class="col-4">
                            Precio
                        </div>
                        <div class="col-8">
                            ${{ atencion.precio }}.-
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row text-texto">
                        <div class="col-4">
                            Estado
                        </div>
                        <div class="col-8">
                            {{ atencion.estado }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 justify-content-center">
                <router-link to="#" class="btn btn-md btn-block btn-success ">
                    <i class="far fa-check-circle"> </i> Dejar un comentario
                </router-link>
            </div>
        </div>


    </div>
    <div v-else class="card text-center">
        <div class="card-body">
            <h5 class="card-title">No tienes atenciones.</h5>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                atenciones: Object
            }
        },
        created() {
            axios.get('atenciones/ver/' + this.$route.params.user)
                .then((response) => {
                    this.atenciones = response.data.atenciones;
                })
        },
        methods: {
            imagenuser(atencion) {
                let url = atencion.Cliente.imagen !== void (0) ? atencion.Cliente.imagen : 'default-user.jpg';
                return '/imagenes/usuarios/' + url;
            }
        }
    }
</script>

<style scoped>

</style>
