<template>
    <div>
        <div v-if="comentarios.length > 0" class="row justify-content-center">
            <div v-for="comentario in comentarios" class="col-12 col-sm-12 col-md-8 col-lg-8">
                <div class="row bg-secondary border rounded"
                     style="margin-bottom: 5px; margin-right: 5px; margin-left: 5px;">
                    <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                        <img :src="imagenuser(comentario)" alt="Usuario-" class="rounded img-responsive"
                             style="width: 120px; height: 120px;"/>
                    </div>
                    <div class="col-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="col-12">
                            <div class="row" style="color: #5F1961;">
                                <div class="col-4">
                                    Cliente
                                </div>
                                <div class="col-8">
                                    {{ comentario.comentarios_usuario.name }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row text-texto">
                                <div class="col-4">
                                    Puntaje
                                </div>
                                <div class="col-8">
                                    {{ comentario.puntaje }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row text-texto">
                                <div class="col-4">
                                    Comentario
                                </div>
                                <div class="col-8">
                                    {{ comentario.comentario }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row text-texto">
                                <div class="col-4">
                                    Fecha
                                </div>
                                <div class="col-8">
                                    {{ comentario.created_at }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-else class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Este terapeuta todavia no cuenta con comentarios.</h5>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                comentarios: [],
                user: Object
            }
        },
        created() {
            const url = 'perfil/' + this.$route.params.id + '/comentarios';
            axios.get(url)
                .then((response) => {
                    console.log(response.data.comentarios.length);
                    this.comentarios = response.data.comentarios;
                    this.user = response.data.usuario;
                })
        },
        methods: {
            imagenuser(comentario) {
                return "/imagenes/usuarios/" + comentario.comentarios_usuario.imagen;
            }
        }
    }
</script>
