<template>
    <div class="box box-primary">
        <div class="row">
            <div class="box-header with-border col-8 align-left">
                <h3 class="box-title">Solicitar una Terapia Existente</h3>
            </div>
        </div>
        <form role="form ">
            <div class="box-body">
                <div class="form-group">
                    <label for="terapia">Terapias</label>
                    <select
                        v-model="terapia"
                        name="terapia"
                        class="form-control"
                        id="terapia"
                    >
                        <option>Seleccione una Terapia</option>
                        <option v-for="terapia in terapias" :value="terapia.id">{{ terapia.nombre}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripción</label><br>
                    <input
                        name="descripcion"
                        type="text"
                        class="form-control"
                        id="descripcion"
                        placeholder="Ingresa una descripción de tu solicitud"
                        :value="descripcion"
                    >
                </div>
                <div class="form-group">
                    <label for="precio">Precio de la Terapia</label>
                    <input
                        name="precio"
                        type="number"
                        class="form-control"
                        id="precio"
                        placeholder="Ingresa el precio de la Terapia"
                        :value="precio"
                        required
                    >
                </div>
            </div>
            <div class="box-footer p-2">
                <button @click="solicitar" class="btn btn-success">Solicitar</button>
            </div>
        </form>
        <hr>
        <div class="row">
            <div class="box-header with-border col-8 align-left">
                <h3 class="box-title">Solicitar una Nueva Terapia</h3>
            </div>
        </div>
        <form role="form" method="POST">
            <div class="box-body">
                <div class="form-group">
                    <label for="nombre">Nombre de la Terapia</label>
                    <input
                        name="nombre"
                        type="text"
                        class="form-control"
                        id="nombre"
                        placeholder="Ingresa el nombre de la Terapia"
                        :value="nombre"
                        required
                    >
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripción de la Terapia</label>
                    <input
                        name="descripcion"
                        type="text"
                        class="form-control"
                        id="descripcion"
                        :value="terdescripcion"
                        placeholder="Ingresa la descripción de la Terapia"
                        required
                    >
                </div>
                <div class="form-group">
                    <label for="precio">Precio de la Terapia</label>
                    <input
                        name="precio"
                        type="number"
                        class="form-control"
                        id="precio"
                        placeholder="Ingresa el precio de la Terapia"
                        :value="precio2"
                        required
                    >
                </div>
            </div>
            <div class="box-footer p-2">
                <button @click="solicitar2" class="btn btn-success">Solicitar</button>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                terapias: [],
                nombre: '',
                terapia: '',
                precio: '',
                precio2: '',
                descripcion: '',
                terdescripcion: ''
            }
        },
        created() {
            let url = '/terapias/anadir/' + this.$route.params.user;
            axios.get(url)
                .then((response) => {
                    if(response.data.user == ''){

                    }else{
                        this.terapias = response.data.terapias;
                    
                    }
                })
        },
        methods: {
            solicitar() {
                axios.post('solicitar1', {
                    terapia: this.terapia, precio: this.precio,
                    descripcion: this.descripcion
                })
                    .then(console.log)
            },
            solicitar2() {
                axios.post('solicitar2', {
                    terapia: this.nombre,
                    precio: this.precio2,
                    descripcion: this.terdescripcion
                })
                    .then(console.log)
            }
        }
    }
</script>

<style scoped>

</style>
