<template>
    <div>
        <div v-for="terapia in user.terapias" v-if=" usuario.id == user.id">
            <a href=" route('perfil.hora', ['id' => user.id, 'terapia' => terapia.id]) }}">
                <div class="card text-center border bg-secondary" style="margin-bottom: 10px;">
                    <div class="container">
                        <div class="row">
                            <div class="col-2" style="padding-left: 0px; padding-right: 0px;">
                                <img :src="imagenver(terapia)" alt="Terapia-terapia.id}}"
                                     class="card-img-top rounded img-fluid"/>
                            </div>
                            <div class="col-10">
                                <div class="row">
                                    <div class="col-12 bg-primary" style="color: #EEE7F3; text-align: left;">
                                        <h5 class="card-title">{{ terapia.nombre }}</h5>
                                    </div>
                                    <div class="col-12">
                                        <p class="card-text text-truncate">
                                            {{terapia.descripcion}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                terapias: [],
                user: [],
                usuario: [],
            }
        },
        created() {
            this.creacion();
        },
        methods: {
            creacion() {
                let url = '/terapias/' + this.$route.params.id;
                axios.get(url)
                    .then((response) => {
                        console.log(response.data);
                        this.terapias = response.data.terapias;
                        this.user = response.data.user;
                        this.usuario = response.data.usuario;
                    })
                    .catch(console.error);
            },
            imagenver(terapia) {
                let imagen = terapia.imagen !== void (0) ? terapia.imagen : 'default.jpg';
                return '/imagenes/terapias/' + imagen
            }
        },

    }

</script>
