<template>
    <div v-if="user" class="box box-warning">

        <div class="box-header with-border">
            <h3 class="box-title"> Selecciona una Hora</h3>
        </div>
        <div class="box-body">

            <div class="form-group">
                <label>Terapeuta</label>
                <input type="text" class="form-control" :value="user.name" disabled>
                <input type="text" class="form-control" name="terapeuta" hidden :value="user.id">
            </div>
            <div class="form-group">
                <label>Terapia</label>
                <input type="text" class="form-control" :value="terapia.nombre" disabled>
                <input type="text" class="form-control" name="terapia" hidden :value="terapia.id">
            </div>
            <div class="form-group">
                <label>Precio</label>
                <input v-for="pivot in user.user" type="text" class="form-control"
                       :value="pivot.pivot.precio" disabled>
            </div>
            <div class="form-group">
                <label>Horas</label>
                <select class="form-control" name="hora" v-bind="horaselect">
                    <option>Selecciona una hora</option>

                    <option v-for="hora in horas" :value="hora.id">{{ hora.fecha }} - {{ hora.hora }}</option>

                </select>
            </div>
            <div class="box-footer">
                <button type="submit" @click="guardar" class="btn btn-primary">Solicitar Hora</button>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                horaselect: '',
                user: Object || [],
                terapia: Object || [],
                horas: [],
                cliente: Object,
            }
        },
        created() {
            console.log('hola?')
            let url = '/perfil/' + this.$route.params.id + '/agendamiento/' + this.$route.params.terapia
            axios.get(url)
                .then((response) => {
                    console.log(response);
                    this.terapia = response.data.terapia;
                    this.cliente = response.data.cliente;
                    this.user = response.data.user;
                    this.horas = response.data.user.horas;
                })
        },
        methods:    {
            guardar() {
                axios.post('guardarhora', {
                    hora: horaselect,
                    user: this.user.id,
                    terapia: this.terapia.id
                }).then(console.log)
            }
        }
    }
</script>

<style scoped>

</style>
