<template>
    <div class="container">
        <div class="box box-primary">
            <div class="row">
                <div class="box-header with-border col-8 align-left">
                    <h3 class="box-title">Añadir una descripcion propia para la terapia.</h3>
                </div>
            </div>


                <div class="box-body">
                    <div class="form-group">
                        <label for="terapia">Terapia</label>
                        <input
                            name="terapia"
                            type="text"
                            class="form-control"
                            id="terapia"
                            :value="terapia.nombre"
                            disabled
                        >
                    </div>
                    <div class="form-group" v-if="user.TerapiasUser">
                        <label for="descripcion">Descripción</label>
                        <textarea
                            name="descripcion"
                            type="text"
                            cols="40"
                            rows="5"
                            class="form-control"
                            id="descripcion"
                            required
                        >
					{{(user.TerapiasUser.where('terapias_id', terapia.id)[0].descripcion == "") ? terapia.descripcion : user.TerapiasUser.where('terapias_id', terapia.id)[0].descripcion }}
					</textarea>
                    </div>
                </div>
                <div class="box-footer p-2">
                    <button @click="update" class="btn btn-success">Actualizar</button>
                </div>

        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                terapia: Object,
                user: Object
            }
        },
        created() {
            let url = 'user/terapia/' + this.$route.params.id;
            if (this.$route.params.terapia !== void (0) ) {
                url = 'perfil/' + this.$route.params.id + '/' + this.$route.params.terapia;
            }
            axios.get(url)
                .then((response) => {
                    this.terapia = response.data.terapia
                    this.user = response.data.user
                })
        },
        methods: {
            update() {
                let url = 'user/terapia/' + this.$route.params.id;
                axios.post(url, {id: terapia.id, descripcion: terapia.descripcion})
                    .then(console.log)
            }
        }
    }
</script>

<style scoped>

</style>
