<template>
    <div v-if="user_perfil == 2" class="container">
        <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item">
                <router-link :to="{name: 'terapias-terapeuta', params: { id: user_id }}" class="nav-link">Terapias</router-link>
            </li>
            <li class="nav-item">
                <router-link :to="{name: 'perfil-comentarios', params: { id: user_id }}" class="nav-link">Comentarios</router-link>
            </li>
            <li class="nav-item">
                <router-link :to="{name: 'terapeuta-horarios', params: { id: user_id }}" class="nav-link">Horario</router-link>
            </li>
        </ul>
    </div>
    <div v-else-if="user_perfil == 3" class="container">
        <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item">
                <router-link :to="{name:'admin-usuarios'}" class="nav-link">Usuarios</router-link>
            </li>
            <li class="nav-item">
                <router-link :to="{name:'admin-terapias'}" class="nav-link">Terapias</router-link>
            </li>
            <li class="nav-item">
                <router-link :to="{name:'noticias-index'}" class="nav-link">Noticias</router-link>
            </li>
            <li class="nav-item">
                <router-link :to="{name:'solicitudes-index'}" class="nav-link">Solicitudes</router-link>
            </li>
        </ul>
    </div>
    <div v-else-if="user_perfil == 1" class="container">
        <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item">
                <router-link :to="{name:'atenciones-show', params: { id: user_id }}" class="nav-link">Horas</router-link>
            </li>
            <li class="nav-item">
                <router-link :to="{name:'comentarios-showuser', params: { id: user_id }}" class="nav-link">Comentarios</router-link>
            </li>
            <li class="nav-item">
                <router-link :to="{name:'comentarios-showterapeuta', params: { id: user_id }}" class="nav-link">Evaluaciones</router-link>
            </li>
            <li class="nav-item">
                <router-link :to="{name:'user-edit', params: { user: user_id }}" class="nav-link">Actualizar perfil</router-link>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        props: {
            user_perfil: {
                default: 0
            },
            user_id: {
                default: 0
            }
        },
    }
</script>

<style scoped>

</style>
