<template>
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Asignar Palabras a una Terapia</h3>
        </div>


            <div class="box-body">
                <div class="form-group">
                    <label for="terapia">Terapias</label>
                    <select
                        v-model="terapia"
                        name="terapia"
                        class="form-control"
                        id="terapia"
                    >
                        <option value="0">Seleccione una Terapia</option>

                        <option v-for="terapia in terapias" :value="terapia.id"> {{ terapia.nombre }}</option>

                    </select>
                </div>
                <div class="form-group">
                    <label for="palabra">Palabras</label>
                    <select
                        v-model="palabra"
                        name="palabra"
                        class="form-control"
                        id="palabra"
                    >
                        <option value="0">Seleccione una Palabra</option>

                        <option v-for="palabra in palabras" :value="palabra.id" :key="palabra.id"> {{ palabra.palabra }}</option>

                    </select>
                </div>
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-success" @click="asignaPalabra">Asignar Palabras</button>
                <a class="btn btn-secondary" @click="$router.go(-1)">Volver</a>
            </div>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                palabras: [] | Object,
                terapias: [] | Object,
                palabra: '',
                terapia: ''
            }
        },
        created() {
            axios.get('/admin/palabras/terapias')
                .then((response) => {
                    this.palabras = response.data.palabras;
                    this.terapias = response.data.terapias;
                })
                .catch(console.log());
        },
        methods: {
            asignaPalabra() {
                axios.post('/palabras/terapias', {palabra: this.palabra, terapia: this.terapia})
                .then(console.log);
            }
        }
    }
</script>

<style scoped>

</style>
