<template>
    <div class="box box-primary">
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-md-12">
                <div class="col-12">
                    <div class="box-header with-border">
                        <h3 class="box-title">Agregar una Palabra</h3>
                    </div>

                        <div class="box-body">
                            <div class="form-group">
                                <label for="palabra">Palabra</label>
                                <input
                                    v-model="palabra"
                                    name="palabra"
                                    type="text"
                                    class="form-control"
                                    id="palabra"
                                    placeholder="Ingresa la Palabra Clave"
                                    required
                                >
                            </div>
                        </div>
                        <div class="box-footer">
                            <button @click="creaPalabra" class="btn btn-success">Añadir Palabra</button>
                        </div>

                </div>
                <hr>
                <div class="col-12">
                    <div class="box-header with-border">
                        <h3 class="box-title">Eliminar una Palabra</h3>
                    </div>
                    <form role="form" method="POST">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="palabra">Palabra</label>
                                <select
                                    name="palabra"
                                    class="form-control"
                                    id="palabra" 
                                    v-model="palabraeli" 
                                >
                                    <option value="0" selected>Seleccione una palabra</option>
                                    <option v-for="palabra in palabras" :v-value="palabra.id">{{ palabra.palabra }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button @click="eliminaPalabra" class="btn btn-danger">Eliminar Palabra</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 col-md-12" style="margin-bottom: 100px;">
                <h4>Palabras Actuales en Sistema</h4>
                <div class="box-footer">
                    <ul id="theList" class="d-flex justify-content-start row" style="padding-left: 5px;list-style-type: none; margin-right: 0px;">
                        <li v-for="palabra in palabras" :key="palabra.id" class="tagitem col-sm-6 col-6 col-md-4 col-lg-3 col-xl-3">{{ palabra.palabra }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                palabras:[],
                palabra: '',
                palabraeli: '',
            }
        },
        created() {
           this.getPalabras();
        },
        methods:{
            getPalabras(){
                axios.get('/palabras').then((response) => {
                    this.palabras = response.data.palabras;
                });
            },
            creaPalabra(){
                axios.post('/palabras',{palabra:this.palabra})
                .then((response) => {
                    console.log(response)
                    this.getPalabras();
                    this.palabra = '';
                })
            },
            eliminaPalabra(){
                axios.post('/palabras/elimina', { palabra:this.palabra })
                .then((response) => {
                    // this.getPalabras();
                    // this.palabra = '';
                })
            }
        }
    }
</script>

<style scoped>

</style>
