<template>
    <div class="container">
        <div class="row">
            <noticia v-for="noticia in noticias" :key="noticia.id" :noticia="noticia"></noticia>
            <div v-if="!noticias" class="card bg-white rounded py-3 col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <div class="row no-gutters">
                    <div class="col-12">
                        <div class="card-body text-left">
                            <h5 class="card-title noticia-titulo">No hay noticias todavía</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
    import Noticia from "../components/Noticia";

    export default {
        components: {
            Noticia
        },
        data() {
            return {
                noticias: []
            }
        },
        mounted() {
            axios.get('home')
                .then(res => {
                    this.noticias = res.data.noticias;
                })
                .catch(err => {
                    console.log(err);
                });
        }
    }
</script>
