<template>
    <div id="search">

        <div class="container-fluid" style="margin-bottom: 10px;">
            <div class="navbar">
                <div class="input-group">
                    <input type="text"
                        name="buscar"
                        v-model="busqueda"
                        class="form-control rounded bg-fondo"
                        style="border: none;"
                        placeholder="Buscar..."
                        aria-label="Buscar..."
                        aria-describedby="basic-addon2"
                        @change="buscar"
                    >
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                busqueda: ''
            }
        },
        methods: {

            buscar() {
                axios.post('/search', {'buscar': this.busqueda})
                    .then((response) => {
                        console.log(response.data)
                        this.$router.push({ name: 'search', params: {data: response.data }});
                    })
            }
        }
    }
</script>

<style scoped>

</style>
