<template>
	<div class="container">
		<div class="box box-primary">
			<div class="row">
				<div class="box-header with-border container">
					<h3 class="box-title">Notificaciones</h3>
				</div>
			</div>
			<!-- <div v-if="mensaje.length > 0" class="container alert alert-success alert-dismissible">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<h4><i class="icon fa fa-check"></i><label v-text="mensaje"></label></h4>
			</div> -->
			<div v-if="notificaciones.length > 0">
				<div v-for="notificacion in notificaciones">
					<!-- <div class="alert {{ notificacion.estado == 'No leido' ? 'alert-info' : 'bg-light border' }} alert-dismissible"> -->
					<div class="alert alert-dismissible alert-info">
			            <a type="button" href="#" class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
			            <a href="#" data-toggle="modal" :data-target="'#modal-' + notificacion.id">
			            	<h4 class="text-dark"><i class="icon fa fa-info"></i> <label v-text="notificacion.titulo"></label></h4>
			            	<label class="text-dark" v-text="notificacion.extracto"></label>
			            </a>
			        </div>

			        <div class="modal fade" :id="'modal-' + notificacion.id">
			        	<div class="modal-dialog">
			        		<div class="modal-content">
			        			<div class="modal-header">
			        				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			        					<span aria-hidden="true">&times;</span>
			        				</button>
			        				<h4 class="modal-title" v-text="notificacion.titulo"></h4>
			        			</div>
			        			<div class="modal-body">
			        				<p v-text="notificacion.descripcion"></p>
			        				<small><p v-text="notificacion.created_at"></p></small>
			        			</div>
			        			<div class="modal-footer">
			        				<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
			        			</div>
			        		</div>
			        	</div>
			        </div>
				</div>
			</div>
			<div v-else class="card text-center">
		      	<div class="card-body">
		        	<h5 class="card-title">No tienes notifiaciones nuevas.</h5>
		      	</div>
	    	</div>
		</div>
	</div>
</template>

<script>
	export default {
		data(){
			return {
				user: '',
				notificaciones: [],
				mensaje: ''
			}
		},
		created(){
			axios.get('/notificaciones')
				.then(res => {
					this.user = res.data.user;
					this.notificaciones = res.data.notificaciones;
					this.mensaje = res.data.mensaje != void(0) ? res.data.mensaje: '';
				})
				.catch(err => {
					console.log(err);
				});
		},
        methods:{
		    closenoti(){

            }
        }
	}
</script>
