<template>
    <div class="col-12">
        <div class="row">
            <div class="col-6 text-right">
                <img :src="imagen_user" :alt="user.id"
                     style="width: 120px; height: 120px;" class="rounded img-responsive"/>
            </div>
            <div class="col-6 text-primary">
                <div class="row">
                    <i class="fas fa-user"></i>
                    <a href="#"><!-- todo: generar ruta para ver perfil-->
                        <h4>{{ user.name }}</h4>
                    </a>
                </div>
                <div v-if="user.fecha_nacimiento" class="row">
                    <label><i class="fa fa-address-card"></i>
                        {{user.fecha_nacimiento}}
                        años</label>
                </div>

                <div class="row">
                    <label><i class="fa fa-envelope"></i> {{ user.email }}</label>
                </div>

            </div>
        </div>
        <menu-perfil :user_id="user.id"
                     :user_perfil="user.id_perfil"
        ></menu-perfil>
        <div v-if="user.descripcion" class="container text-center">
            <div class="card text-center bg-secondary">
                <div class="card-body bg-secondary">
                    <h3>{{ user.descripcion }}</h3>
                </div>
                <a href="">Actualizar Descripción</a>
            </div>
        </div>
        <!-- TODO: generar logica para validar que usuario que ingresa es e dueño del perfil-->
        <div v-else class="container text-center" v-if="this.$route.path === '/perfil'">
            <div class="card text-center">
                <div class="card-body">
                    <h3>No tienes descripción todavia, actualiza tu perfil y añade una!</h3>
                </div>
                <a href="#">Agregar Descripción</a>
            </div>
        </div>
        <div class="container text-center" v-if="this.$route.path === '/perfil'">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Este usuario no tiene descripción.</h3>
                </div>
            </div>
        </div>
        <router-view v-if="user.id" :user="user"></router-view>
    </div>
</template>

<script>
    import MenuPerfil from "./perfiles/MenuPerfil";
    export default {
        components: {MenuPerfil},
        comments: {MenuPerfil},
        data() {
            return {
                user: {},
                puntaje: ''
            }
        },
        created() {
            let url;
            if (this.$route.params.terapeuta) {
                url = 'perfil/' + this.$route.params.terapeuta;
            } else {
                url = 'perfil';
            }
            axios.get(url)
                .then(res => {
                    this.user = res.data.user;
                })
                .catch(err => {
                    console.log(err);
                });
        },
        computed: {
            imagen_user() {
                if (this.user.imagen) {
                    return "/imagenes/usuarios/" + this.user.imagen;
                } else {
                    "/imagenes/usuarios/default-user.jpg"
                }
            }
        }
    }
</script>
