<template>
    <div class="container-fluid p-3">
        <div class="container-fluid p-3" v-if="busquedaTerapia.length >0">
            <div class="page-header text-center" v-for="terapia in busquedaTerapia">
                <h1>
                    <router-link :to="{ name: 'search-showterapia',params:{terapia:terapia.id}}">{{ terapia.nombre }}
                    </router-link>
                </h1>
                <div class="row justify-content-center" v-if="terapia.terapias.length>0 ">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12"   v-for=" terapeuta in terapia.terapias"
                         :key="terapeuta.id">
                        <router-link :to="{name:'search-showterapeuta',params:{terapeuta: terapeuta.id}}">
                            <div class="row border bg-secondary rounded"
                                 style="margin-left: 15px; margin-right: 15px; margin-bottom: 10px;">
                                <div class="col-3">
                                    <img :src="terpeutaimagen(terapeuta)" alt="Usuario" class="img-fluid rounded"/>
                                </div>
                                <div class="col-6">
                                    <h5 class="text-primary">{{ terapeuta.name }}</h5>
                                    <small v-if="terapeuta.centros"><p style="color: texto;">{{ terapeuta.centros.nombre
                                        }}</p>
                                    </small>
                                    <p>{{ terapeuta.descripcion }}</p>
                                </div>
                                <div class="col-3">
                                    <small v-for="precio in terapeuta.terapiasUser"
                                           v-if="precio.terapias_id == terapia.id">Precio
                                        ${{ precio.precio }}.-</small>
                                </div>
                            </div>
                        </router-link>
                    </div>
                </div>
                <div v-else class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">No se encontraron Terapeutas para la terapia consultada.</h5>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <router-link v-if="terapeutas.length>0" v-for="terapeuta in terapeutas" :key="terapeuta.id"
                     :to="{ name:'search-showterapeuta', params:{terapeuta:terapeuta.id}}">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">{{ terapeuta.name }}</h5>
                    <p class="card-text">{{ terapeuta.email }}</p>
                </div>
            </div>
        </router-link>

        <div v-else class="card text-center">
            <div class="card-body">
                <h5 class="card-title">No se encontraron resultados.</h5>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                terapeutas: [],
                busquedaTerapia: [],

            }
        },
        created() {
            this.busquedaTerapia = this.$route.params.data.busquedaTerapia;
        },
        methods: {
            terpeutaimagen(terapeuta) {

                let url = terapeuta.imagen != void (0) ? terapeuta.imagen : 'default-user.jpg';
                return '/imagenes/usuarios/' + url
            }
        }
    }
</script>

<style scoped>

</style>
