<template>
	<div class="container">
		TERAPIAS
	    <!-- @foreach($noticia as $noticiaItem)
	    <div class="card bg-white rounded py-3 col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3" style="width: 18rem;">
	        <div class="card-body">
	            <h5 class="card-title"><a href="{{ route('noticias',$noticiaItem)}}">{{$noticiaItem->titulo}}</a></h5>
	            <h6 class="card-subtitle mb-2 text-muted">{{$noticiaItem->fecha}}</h6>
	            <p class="card-text">{{$noticiaItem->detalle}}</p>
	        </div>
	    </div>
	    @endforeach -->
	</div>
</template>