<template>
    <div class="card mb-3 col-sm-12 col-xs-12 col-md-6 col-lg-6 bg-secondary border border-white">
        <div class="row no-gutters">
            <div class="col">
                <img :src="imagen" alt="" class="img-fluid"/>
            </div>
            <div class="col-8" h>
                <div class="card-body text-left">
                    <div>
                        <!-- <a href="{{ route('noticias',$noticiaItem) }}"> -->
                        <router-link :to="{ name:'home-noticias', params: { id: noticia.id } }">
                            <h5 class="card-title noticia-titulo">{{ noticia.titulo }}</h5>

                        </router-link>
                    </div>
                    <div class="noticia-fecha" style="z-index: 1;">
                        <p class="card-text"><small >{{noticia.fecha}}</small></p>
                    </div>
                    <p class="card-text noticia-texto">{{noticia.detalle}}</p>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            noticia: {}
        },
        computed: {
            imagen() {
                return   '/imagenes/noticias/' + this.noticia.imagen;
            }
        }
    }
</script>

<style scoped>

</style>
