<template>
    <div class="container">
        <div class="d-flex row justify-content-center">
            <div class="col-12 d-flex">
                <div class="card" style="width: 18rem;">

                    <img :src="imagenterapia" alt="Terapia"
                         class="card-img-top rounded img-fluid"/>
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ terapia.nombre }}</h5>
                        <p class="card-text">{{ terapia.descripcion }}</p>
                        <button @click="$router.go(-1)" class="btn btn-primary">Volver</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                terapia: Object,
                usuario: Object
            }

        },
        created() {

            let url = '/search/terapia/' + this.$route.params.id + '/show';
            axios.get(url)
                .then((response) => {
                    this.terapia = response.data.terapia;
                    this.usuario = response.data.user;
                })
        },
        computed: {
            imagenterapia() {
                let url = this.terapia.imagen != void(0) ? this.terapia.imagen : 'default.jpg';
                return '/imagenes/terapias/' + url
            }
        }
    }
</script>

<style scoped>

</style>
