<template>
    <div class="container">
        <div class="box box-primary">
            <div class="row">
                <div class="box-header with-border container">
                    <h3 class="box-title">Sugerencia de Terapias</h3>
                </div>
            </div>

            <div v-if='mensaje' class="container alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-check"></i> {{ mensaje }} </h4>
            </div>


            <div class="box-body">
                <div class="form-group">
                    <label for="select">Busca tus sintomas</label>
                    <small><small><label for="select">Selecciona 5!</label></small></small>
                    <div class="row">
                        <div class="col">
                            <select id="select" class="form-control">

                                <option v-for="palabra in palabras" :value="palabra.id">{{ palabra.palabra }}
                                </option>

                            </select>
                        </div>
                    </div>
                    <div id="alerta-maximo" style="display: none;" class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" aria-hidden="true"
                                @click="cierraAlerta('alerta-maximo');">&times;
                        </button>
                        <h4><i class="icon fa fa-ban"> </i><label>Solo se pueden seleccionar 5.</label></h4>
                    </div>
                    <div id="alerta-existe" style="display: none;" class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" aria-hidden="true"
                                @click="cierraAlerta('alerta-existe');">&times;
                        </button>
                        <h4><i class="icon fa fa-ban"> </i><label>Ya se selecciono ese sintoma.</label></h4>
                    </div>
                </div>
            </div>
            <ul id="theList" class="d-flex justify-content-start row" style="list-style-type: none;">
            </ul>
            <dir id="theCheck"></dir>
            <div class="box-footer p-2">
                <button @click="agregaItem" type="button" class="btn btn-success">Añadir</button>
                <button @click="searchTerapia" type="button" class="btn btn-primary">Buscar</button>
            </div>
        </div>
        <div class="container-fluid p-3" v-if="busquedaTerapia.length >0">

            <div class="page-header text-center" v-for="terapia in busquedaTerapia">
                <h1>
                    <router-link :to="{ name: 'search-showterapia',params:{terapia:terapia.id}}">{{ terapia.nombre }}
                    </router-link>
                </h1>
            </div>
            <hr>

            <div class="row justify-content-center" v-if="terapia.Terapias && terapia.Terapias.length>0" v-for=" terapeuta in terapias.Terapias"
                 :key="terapeuta.id">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <router-link :to="{name:'search-showterapeuta',params:{terapeuta: terapeuta.id}}">
                        <div class="row border bg-secondary rounded"
                             style="margin-left: 15px; margin-right: 15px; margin-bottom: 10px;">
                            <div class="col-3">
                                <img :src="terapeutaimagen(terapeuta)" alt="Usuario" class="img-fluid rounded"/>
                            </div>
                            <div class="col-6">
                                <h5 class="text-primary">{{ terapeuta.name }}</h5>

                                <small v-if="terapeuta.Centros"><p style="color: texto;">{{ terapeuta.Centros.nombre }}</p>
                                </small>

                                <p>{{ terapeuta.descripcion }}</p>
                            </div>
                            <div class="col-3">
                                <small v-for="precio in terapeuta.TerapiasUser" v-if="precio.terapias_id == terapia.id">Precio
                                    ${{ precio.precio }}.-</small>
                            </div>

                        </div>
                    </router-link>
                </div>
            </div>

            <div v-else class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">No se encontraron Terapeutas para la terapia consultada.</h5>
                </div>
            </div>


            <router-link v-if="terapeutas.length>0" v-for="terapeuta in terapeutas" :key="terapeuta.id"
                         :to="{ name:'search-showterapeuta', params:{terapeuta:terapeuta.id}}">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">{{ terapeuta.name }}</h5>
                        <p class="card-text">{{ terapeuta.email }}</p>
                    </div>
                </div>
            </router-link>

            <div v-else class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">No se encontraron resultados.</h5>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                palabras: [],
                mensaje: '',
                arraylistpalabras: [],
                arraylistid: [],
                busquedaTerapia:[],
                terapeutas: [],
                terapias:[]

            }
        },
        created() {
            axios.get('/SugerenciaTerapias')
                .then((response) => {
                    this.palabras = response.data.palabras;
                    this.mensaje = response.data.mensaje
                })
                .catch(console.log());
        },
        methods: {
            searchsugerencia() {
                let url = 'search/sugerencia';
                let informacion = new FormData()
                for (var i = this.arraylistid.length - 1; i >= 0; i--) {
                    informacion.append('palabras[]', this.arraylistid[i])
                }
                axios.post(url, informacion)
                    .then((response) => {
                        console.log(response.data);
                        this.busquedaTerapia = response.data.busquedaTerapia;
                        this.terapeutas = response.data.terapeutas
                        this.terapias = response.data.terapias
                    })
                    .catch(console.log());
            },
            agregaItem() {
                var palabra = document.getElementById('select').selectedOptions;
                var id = document.getElementById('select').value;
                if (this.arraylistpalabras.length < 5) {
                    if (this.arraylistpalabras.includes(palabra.item(0).text)) {
                        document.getElementById('theList').innerHTML = "";
                        for (var i = 0; i < this.arraylistpalabras.length; i++) {
                            document.getElementById('theList').innerHTML += ('<li class="tagitem col-sm-6 col-6 col-md-4 col-lg-2 col-xl-2" value="' + this.arraylistid[i] + '">' + this.arraylistpalabras[i] + '</li>');
                        }
                        document.getElementById('alerta-existe').style.display = 'block';
                    } else {
                        this.arraylistpalabras.push(palabra.item(0).text);
                        this.arraylistid.push(id);
                        document.getElementById('theList').innerHTML = "";
                        for (var i = 0; i < this.arraylistpalabras.length; i++) {
                            document.getElementById('theList').innerHTML += ('<li class="tagitem col-sm-6 col-6 col-md-4 col-lg-2 col-xl-2" value="' + this.arraylistid[i] + '">' + this.arraylistpalabras[i] + '</li>');
                        }
                        document.getElementById('alerta-maximo').style.display = 'none';
                        document.getElementById('alerta-existe').style.display = 'none';
                    }
                } else {
                    document.getElementById('alerta-maximo').style.display = 'block';
                }
            },

            cierraAlerta(id) {
                document.getElementById(id).style.display = 'none';
            },

            searchTerapia() {
                if (this.arraylistpalabras.length == 5) {
                    for (var i = this.arraylistid.length - 1; i >= 0; i--) {
                        console.log(this.arraylistid[i]);
                    }
                    this.searchsugerencia();
                } else {
                    alert("Selecciona 5 sintomas!");
                }
            } ,
            terpeutaimagen(terapeuta) {

                let url = terapeuta.imagen != void (0) ? terapeuta.imagen : 'default-user.jpg';
                return '/imagenes/usuarios/' + url
            }

        }
    }
</script>

<style scoped>

</style>


