<template>
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Asignar la terapia</h3>
        </div>


            <div class="box-body">
                <div class="form-group">
                    <label for="nombre">Nombre de la Terapia</label>
                    <input
                        name="nombre"
                        type="text"
                        class="form-control"
                        id="nombre"
                        placeholder="Ingresa el Nombre de la Terapia"
                        :value="terapia.nombre"
                        disabled
                    >
                </div>
                <div class="form-group">
                    <label for="terapeuta">Terapeuta</label>
                    <select
                        v-model="terapeuta"
                        name="terapeuta"
                        class="form-control"
                        id="terapeuta"
                    >
                        <option value="0">Selecciona un Usuario</option>
                        <option v-for="usuario in usuarios" v-if="usuario.id_perfil ==2" :value="usuario.id">{{usuario.name}}</option>

                    </select>
                </div>
                <div class="form-group">
                    <label for="precio">Precio de la Terapia</label>
                    <input
                        name="precio"
                        type="number"
                        class="form-control"
                        id="precio"
                        v-model="precio"
                        placeholder="Ingresa el Precio de la Terapia"
                    >
                </div>
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-success" @click="asigaterapeuta">Asignar Terapeuta</button>
                <button class="btn btn-secondary" @click="$router.go(-1)" >Volver</button>
            </div>

    </div>
</template>

<script>
    export default {
        data(){
            return {
                terapia: Object,
                precio: '',
                terapeuta: 0,
                usuarios: {},
                user: Object,

            }
        },
        methods:{
            asigaterapeuta(){
                let datafor = {
                  precio:this.precio,
                  terapeuta : this.terapeuta,
                  terapia : this.terapia.nombre
                };
                axios.post('/admin/terapia/asigna/' + this.$route.params.id, datafor)
                .then((response) => {
                    console.log(response.data);
                })
            }
        },
        created(){
                axios.get('/admin/terapia/asignar/'+ this.$route.params.id)
                    .then((response) => {
                        console.log(response.data)
                        this.usuarios = response.data.usuarios;
                        this.user = response.data.user;
                        this.terapia =  response.data.terapia;
                    })
                    .catch(console.log());
        }
    }
</script>

<style scoped>

</style>
