<template>
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Crear una Terapia</h3>
        </div>
        <form role="form" method="POST" enctype="multipart/form-data">

            <div class="box-body">
                <div class="form-group">
                    <label for="nombre">Nombre de la Terapia</label>
                    <input
                        :value="nombre"
                        name="nombre"
                        type="text"
                        class="form-control"
                        id="nombre"
                        placeholder="Ingresa el Nombre de la Terapia"
                        required
                    >
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripción de la Terapia</label>
                    <input
                        :value="descripcion"
                        name="descripcion"
                        type="text"
                        class="form-control"
                        id="descripcion"
                        placeholder="Ingresa la Descripción de la Terapia"
                        required
                    >
                </div>
                <div class="form-group">
                    <label for="imagen">Imagen de la Terapia</label>
                    <input
                        :value="imagen"
                        name="imagen"
                        type="file"
                        class="form-control"
                        id="imagen"
                    >
                </div>
            </div>
            <div class="box-footer">
                <button @click="crearterapia" class="btn btn-success">Crear Terapia</button>
                <a class="btn btn-secondary" @click="$router.go(-1) ">Volver</a>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                imagen: '',
                nombre: '',
                descripcion: ''
            }
        },
        methods: {
            crearterapia() {
                axios.post('/terapias', {nombre: this.nombre, descripcion: this.descripcion, imagen: this.imagen})
                    .then((response) => {
                        console.log(response.data);
                    })
            }
        }
    }
</script>

<style scoped>

</style>
