<template>
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Actualizar una Terapia</h3>
        </div>
        <form role="form">

            <div class="box-body">
                <div class="form-group">
                    <label for="nombre">Nombre de la Terapia</label>
                    <input
                        :value="terapia.nombre"
                        name="nombre"
                        type="text"
                        class="form-control"
                        id="nombre"
                        disabled
                    >
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripción de la Terapia</label>
                    <input
                        name="descripcion"
                        type="text"
                        class="form-control"
                        id="descripcion"
                        placeholder="Ingresa la Descripción de la Terapia"
                        :value="terapia.descripcion"
                        required
                    >
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary" @click="actualizaterpaia">Actualizar Terapia</button>
                    <button class="btn btn-secondary" @click="$router.go(-1)">Volver</button>
                </div>
        </form>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                terapia: Object
            }
        },
        created() {
            let url = 'terpaia';
            axios.get(url).then((data) => {
                this.terapia = data.data.terapia;
            });
        },
        methods: {
            actualizaterpaia() {
                axios.put('ruta', {
                    terapia: this.terapia.id,
                    descripcion: this.terapia.descripcion,
                })
                    .then((response) => {
                        console.log(response.data);
                    })
            }
        }
    }
</script>

<style scoped>

</style>
