<template>
    <div class="row" v-if="terapias.length > 0">

        <div v-for="terapia in terapias" class="col-12 col-sm-12 col-md-6 col-lg-6">
            <router-link :to="{name: 'terapias-muestra', params:{ id: terapia.id }}">
                <div class="row border bg-secondary rounded"
                     style="margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4 align-middle">
                                <img :src="imagenlista(terapia)" alt="terapia-" class="img-fluid rounded"
                                     style="height: 120px; width: 120px;"/>
                            </div>
                            <div class="col-5">
                                <h5 class="text-primary">{{ terapia.nombre }}</h5>
                                <p>{{ terapia.descripcion }}</p>
                            </div>
                            <div class="col-3">

                                <small>{{ terapia.created_at }}</small>

                            </div>
                        </div>
                    </div>
                </div>
            </router-link>
        </div>

    </div>

    <div v-else class="card text-center">
        <div class="card-body">
            <h5 class="card-title">No existen terapias.</h5>
        </div>
    </div>
</template>

<script>
    export default {

        data() {
            return {
                terapias: []
            }
        },
        created() {
            axios.get('/admin/terapias/listar')
                .then((response) => {
                    this.terapias = response.data.terapias;
                });
        },
        methods: {
            imagenlista(item) {
                let url = item.image !== void (0) ? item.image : 'default.jpg';
                return '/imagenes/terapias/' + url;
            }
        }
    }
</script>

<style scoped>

</style>
