<template>
    <div class="container">
        <div class="d-flex row">
            <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                <div class="card" style="width: 18rem;">

                    <img :src="imagenlista" alt="Terapia-" class="card-img-top rounded img-fluid"/>

                    <div class="card-body text-center">
                        <h5 class="card-title">{{ terapia.nombre }}</h5>
                        <p class="card-text">{{ terapia.descripcion }}</p>
                        <router-link :to="{name:'terapias-edit',params:{ terapia: terapia.id}}" type="button"
                                     class="btn btn-secondary btn-lg btn-block">Editar terapia
                        </router-link>
                        <button @click="eliminarterapia" class="btn btn-secondary btn-lg btn-block">Eliminar terapia
                        </button>
                        <router-link to="#" type="button" class="btn btn-secondary btn-lg btn-block">Añadir Terapeuta
                        </router-link>
                        <router-link to="#" type="button" class="btn btn-secondary btn-lg btn-block">Volver
                        </router-link>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6 col-sm-12 text-center bg-secondary">
                <h1>Terapeutas que imparten esta terapia</h1>

                <table v-if="terapia.Terapias && terapia.Terapias.length > 0" class="table table-bordered">
                    <tr>
                        <th>Terapeuta</th>
                        <th>Correo</th>
                    </tr>

                    <tr v-for="terapeuta in terapia.Terapias">
                        <td>{{ terapeuta.name }}</td>
                        <td>{{ terapeuta.email }}</td>
                    </tr>
                </table>

                <div v-else class="text-center">
                    <div class="col-lg-12 col-md col-xs-6 p-2 text-center">
                        <div class="small-box p-4">
                            <div class="inner">
                                <h3>Esta terapia no tiene terapeutas.</h3>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                terapia: []
            }
        },
        created() {
            axios.get('admin/terapias/' + this.$route.params.id)
                .then(response => {
                    this.terapia = response.data.terapia;
                });
        },
        methods: {
            eliminarterapia() {
                axios.post('deleteterapia', {
                    terapia: this.terapia.id
                }).then((res) => {
                    console.log(response.data);
                    this.$router.go(-1);
                })
            }
        },
        computed: {
            imagenlista() {

                let url = this.terapia.imagen !== void (0) ? this.terapia.imagen : 'default.jpg';
                return '/imagenes/terapias/' + url;
            }
        }
    }
</script>

<style scoped>

</style>
