<template>

    <div v-if="terapias.length >0" class="row">

        <div v-for="terapia in terapias" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-2">
            <div class="small-box bg-secondary p-4">
                <div class="inner">
                    <h3>{{ terapia.nombre }}</h3>
                    <p class="text-truncate">{{ terapia.descripcion }}</p>
                </div>
                <router-link to="#" class="btn btn-primary small-box-footer">
                    <i class="fas fa-edit"></i>
                </router-link>
                <button @click="eliminarterapia" class="btn btn-primary small-box-footer">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </div>
        </div>

    </div>

    <div v-else class="card text-center">
        <div class="card-body">
            <h5 class="card-title">No existen terapias.</h5>
        </div>
    </div>

</template>

<script>
    export default {
        data() {
            return {
                terapias: []
            }
        },
        created() {
            axios.get('terapias')
                .then((response) => {
                    this.terapias = response.data.terapias;
                });
        },
        methods: {
            eliminarterapia() {
                axios.post('deleteterapia', {
                    terapia: this.terapia.id
                }).then((res) => {
                    console.log(response.data);
                    this.$router.go(-1);
                })
            }
        },
    }
</script>

<style scoped>

</style>
