<template>
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Actualizar una Terapia</h3>
        </div>
        <form role="form" method="POST">

            <div class="box-body">
                <div class="form-group">
                    <label for="nombre">Nombre de la Terapia</label>
                    <input
                        name="nombre"
                        type="text"
                        class="form-control"
                        id="nombre"
                        :value="terapia.nombre"
                        disabled
                    >
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripción de la Terapia</label>
                    <input
                        name="descripcion"
                        type="text"
                        class="form-control"
                        id="descripcion"
                        placeholder="Ingresa la Descripción de la Terapia"
                        :value="terapia.descripcion"
                        required
                    >
                </div>
                <div class="form-group">
                    <label for="imagen">Imagen de la Terapia</label>
                    <input
                        name="imagen"
                        type="file"
                        class="form-control"
                        id="imagen"
                        :value="imagen"
                    >
                </div>
            </div>
            <div class="box-footer">
                <button type="submit" @click="actalizadata" class="btn btn-success">Actualizar Terapia</button>
                <button class="btn btn-secondary" @click="$router.go(-1)">Volver</button>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                imagen: '',
                terapia: Object,
            }
        },
        created() {
            const url = '/terapias/' + this.$route.params.terapia + '/editar';
            axios.get(url)
                .then((response) => {
                    this.terapia = response.data.terapia;
                })
        },
        methods: {
            actalizadata() {

                axios.put('/terapias/' + this.terapia.id, {
                    terapia: this.terapia.id, descripcion: this.terapia.descripcion,
                    imagen: imagen,
                })
                    .then((response) => {
                        console.log(response.data)
                    });
            }
        }
    }
</script>

<style scoped>

</style>
