<template>

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Crear una Noticia</h3>
        </div>
        <div class="box-body">
            <div class="form-group">
                <label for="titulo">Titulo de la Noticia</label>
                <input
                    v-model="titulo"
                    name="titulo"
                    type="text"
                    class="form-control"
                    id="titulo"
                    placeholder="Ingresa el Titulo de la Noticia"
                    required
                >
            </div>
            <div class="form-group">
                <label for="detalle">Detalle de la Noticia</label>
                <textarea
                    v-model="detalle"
                    name="detalle"
                    type="textarea"
                    class="form-control"
                    id="detalle"
                    placeholder="Ingresa el Detalle de la Noticia"
                    required
                > </textarea>

                <div class="form-group">
                    <label for="detalle">Extracto de la Noticia</label>
                    <textarea
                        v-model="extracto"
                        name="detalle"
                        type="textarea"
                        class="form-control"
                        id="detalle"
                        placeholder="Ingresa el Detalle de la Noticia"
                        required
                    > </textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="fecha">Fecha de la Noticia</label>
                <input
                    v-model="fecha"
                    name="fecha"
                    type="date"
                    class="form-control"
                    id="fecha"
                >
            </div>
            <div class="form-group">
                <label for="imagen">Imagen de la Noticia</label>
                <input
                    @change="onFileChanged"
                    name="imagen"
                    type="file"
                    ref="file"
                    class="form-control"
                    id="imagen"
                >
                <img :src="url" v-if="url">
            </div>
        </div>
        <div class="box-footer">
            <button @click="crearnoticia" class="btn btn-success">Crear Noticia</button>
            <router-link class="btn btn-secondary" to="/noticias">Volver</router-link>
        </div>

    </div>

</template>

<script>
    export default {
        data() {
            return {
                imagen: '',
                fecha: '',
                detalle: '',
                titulo: '',
                extracto: '',
                url: null
            }
        },
        methods: {
            crearnoticia() {
                let informacion = new FormData()

                informacion.append('imagen', this.imagen)
                informacion.append('fecha', this.fecha)
                informacion.append('detalle', this.detalle)
                informacion.append('titulo', this.titulo)
                informacion.append('extracto', this.extracto)
                informacion.append('imagen', this.imagen)

                axios.post('/noticias', informacion, {headers: {'content-type': 'multipart/form-data'}})
                    .then((response) => {
                        alert('noticia creada')
                    })
                    .catch(console.error);
            },
            onFileChanged(event) {
                this.imagen = this.$refs.file[0];
            },
        }
    }
</script>

<style scoped>

</style>
