<template>
    <div class="box box-primary">
        <div class="row">
            <div class="box-header with-border col-8 align-left">
                <h3 class="box-title">Actualizar Noticia</h3>
            </div>
        </div>
        <form role="form" enctype="multipart/form-data">

            <div class="box-body">
                <div class="form-group">
                    <label for="titulo">Titulo</label>
                    <input
                        name="titulo"
                        type="text"
                        class="form-control"
                        id="titulo"
                        placeholder="Ingresa el titulo"
                        v-model="noticia.titulo"
                    >
                </div>
                <div class="form-group">
                    <label for="extracto">Extracto</label>
                    <input
                        name="extracto"
                        type="text"
                        class="form-control"
                        id="extracto"
                        placeholder="Ingresa el extracto"
                        v-model=" noticia.extracto "
                    >
                </div>
                <div class="form-group">
                    <label for="detalle">Detalle</label>
                    <input
                        name="detalle"
                        type="text"
                        class="form-control"
                        id="detalle"
                        placeholder="Ingresa el detalle"
                        v-model=" noticia.detalle "
                    >
                </div>
                <div class="form-group">
                    <label for="imagen">Imagen actual de la Noticia</label>
                    <img v-if="url" :src="url" style="width: 100px;height: 100px">
                    <img v-else :src="imagennota" style="width: 100px;height: 100px">
                    <input name="imagen" type="file" id="imagen" @change="onFileChanged">
                </div>
            </div>
            <div class="box-footer p-2">
                <button @click="actualizar" class="btn btn-success">Actualizar</button>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                noticia: {
                    imagen: '',
                    detalle: '',
                    extracto: '',
                    titulo: '',

                },
                url: null
            }
        },
        created() {
            let url = 'noticias/' + this.$route.params.noticia + '/editar';
            axios.get(url)
                .then((response) => {
                    this.noticia = response.data.noticia;
                })
                .catch(console.log());
        },
        methods: {
            actualizar() {
                let url = '/noticias/' + this.noticia.id;
                axios.put(url, noticia)
                    .then((response) => {


                    })
                    .catch(console.log());
            },
            onFileChanged(event) {
                this.noticia.imagen = event.target.files[0];
                const file = event.target.files[0];
                this.url = URL.createObjectURL(file);
            },
        }, computed: {
            imagennota() {
                return '/imagenes/noticias/' + this.noticia.imagen
            }
        }
    }
</script>

<style scoped>

</style>
