<template>
    <div>
        <router-link :to="{name:'noticias-show', params:{noticia:noticia.id }}" v-for="noticia in noticias"
                     :key="noticia.id">
            <div class="row border bg-secondary rounded"
                 style="margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
                <div class="col-12">
                    <div class="row">
                        <div class="col-4 align-middle">
                            <img v-if="noticia.imagen"  :src="imagennot(noticia.imagen)" alt="Noticia-" class="img-fluid rounded"/>
                        </div>
                        <div class="col-5">
                            <h5 class="text-primary">{{ noticia.titulo }}</h5>
                            <p>{{ noticia.extracto }}</p>
                        </div>
                        <div class="col-3">
                            <small>{{ noticia.created_at }}</small>
                        </div>
                    </div>
                </div>
            </div>
        </router-link>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                noticias: []
            }
        },
        created() {
            axios.get('/admin/noticias/listar')
                .then((response) => {
                    this.noticias = response.data.noticias;
                }).catch(console.error);
        },
        methods: {
            imagennot(val) {
                return "/imagenes/noticias/" + val;
            }
        }
    }
</script>

<style scoped>

</style>
