<template>
    <div class="container">
        <div class="d-flex row justify-content-center">
            <div class="col-12 d-flex">
                <div class="card" style="width: 18rem;">
                    <img v-if="noticia.imagen" :src="imagen" alt="Noticia-" class="card-img-top rounded img-fluid"/>
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ noticia.titulo }}</h5>
                        <p class="card-text">{{ noticia.detalle }}</p>
                        <router-link :to="{name:'noticias-edit',params:{noticia:noticia.id}}" type="button" class="btn btn-secondary btn-lg btn-block">Editar Noticia
                        </router-link>

                        <button type="submit" @click=" destroyNOticia" class="btn btn-secondary btn-lg btn-block">
                            Eliminar Noticia
                        </button>

                        <button @click="$router.go(-1)" type="button" class="btn btn-secondary btn-lg btn-block">Volver
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                noticia: Object
            }
        },
        computed: {
            imagen() {
                return "/imagenes/noticias/" + this.noticia.imagen;
            }
        },
        created(){
            let url =    '/noticias/' + this.$route.params.noticia;
            axios.get(url)
            .then((reponese) => {
                this.noticia = reponese.data.noticia;
            });
        },
        methods: {
            destroyNOticia() {
                let url = '/noticias/' + this.noticia.id;
                axios.delete(url).then(response =>{
                    this.$router.go(-1)
                });
            }
        }
    }
</script>

<style scoped>

</style>
