<template>

    <div v-if="horas && dia " class="container p-2">


        <div class="box-header with-border text-center">
            <h3 class="box-title">Ingresar Horario</h3>
        </div>
        <div class="row">
            <div class="col-12">

                <div v-for="d in dia" class="row border p-2">
                    <div class="col-lg-2 col-md-2 col-sm-12 text-center">
                        <p>{{ d }}</p>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                        <div class="row d-flex justify-content-between">

                            <div v-for="hora in horas" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 rounded border"
                                 @click="isChecked( d +'.'+ hora )"
                                 :style="{marginBottom: 2 +'px', marginRight: 2+'px', width: 'auto'}"

                                 :id="labelid(d,hora)">
                                <input :id="inputid(d,hora)"
                                       style="display: none;" class="icheckbox_flat-green" type="checkbox"
                                       :value="hora" :name="inputname(d)">
                                <label class="form-check-label" >{{ hora }}</label>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <button @click="guardar" class="btn btn-primary">Ingresar</button>
        </div>

    </div>

    <div v-else class="container-fluid p-3">
        <div class="card text-center bg-secondary">
            <div class="card-body">
                <h5 class="card-title">{{ mensaje }}</h5>
            </div>
            <router-link to=#">Volver</router-link>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                dia: [],
                horas: [],
                mensaje: '',
                seleccionados:[]
            }
        },
        created() {
            let uri = '/schedule/crear';
            axios.get(uri)
                .then((response) => {
                    this.dia = response.data.dia;
                    this.horas = response.data.horas;
                    this.mensaje = response.data.mensaje;
                })
                .catch(console.log());
        },
        methods: {
            guardar() {
               let data = JSON.stringify(this.seleccionados)
                let url = '/schedule';
                axios.post(url, data)
                    .then((response) => {
                        //manejar la jodida response del backkend
                    })
                    .catch(console.log());
            },
            labelid(d, hora) {
                return 'label-' + d + '.' + hora
            },
            inputid(d, hora) {
                return d + '.' + hora
            },
            inputname(d) {
                return d + '[]'
            },
            isChecked(id) {

                const checkbox = document.getElementById(id);
                let div = document.getElementById('label-' + id);
                // alert(checkbox);

                checkbox.checked = !checkbox.checked;
                if (checkbox.checked == true) {
                    // alert(label);
                    console.log(checkbox.checked, checkbox.id, this.seleccionados);
                    this.seleccionados.push( checkbox.id );

                    div.style.backgroundColor = "green";
                    div.style.color = "white";
                } else {
                    let remove = this.seleccionados.indexOf(checkbox.id);
                    if(remove !== -1) this.seleccionados.splice(remove);
                    div.style.backgroundColor = "white";
                    div.style.color = "black";
                }
            },
        },

    }
</script>

<style scoped>

</style>
