<template>
    <div class="container text-center">
        <router-link :to="{name:'perfil-horario', params:{ id: user.id }}">Ver mi calendario.</router-link><br>
        <router-link :to="{name:'schedule-create'}">Crear mi calendario.</router-link><br>
        <router-link to="#">Modificar mi calendario.</router-link><br>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                user: Object,
            }
        },
        created() {
            axios.get('/schedule')
                .then((response) => {
                    this.user = response.data.user
                })
                .catch(console.log());
        }
    }
</script>

<style scoped>

</style>
