<template>
    <div class="container">

        <div v-if="horarios.length>0" class="container p-2">
            <div class="box-header with-border text-center">
                <h3 class="box-title">Horario</h3>
                <div>
                    <span style="background-color: green; width: 5px; height: 5px;"></span>
                    <small>En color verde las horas disponibles!</small>
                </div>
            </div>
            <div class="row">
                <div class="col-12">

                    <div v-for="d in dias" class="row border p-2">
                        <div class="col-lg-2 col-md-2 col-sm-12 text-center">
                            <p>{{ d }}</p>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                            <div class="row d-flex justify-content-left" v-for="hora in horas">


                                <div v-if="horarios" class="col-lg-2 col-md-2 col-sm-4 col-xs-4 rounded border"
                                     style="margin-bottom: 2px; margin-right: 2px; width: auto; background-color: #CEF2B8;">
                                    <label class="form-check-label">{{ hora }}</label>
                                </div>

                                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 rounded border"
                                     style="margin-bottom: 2px; margin-right: 2px; width: auto;">
                                    <label class="form-check-label">{{ hora }}</label>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div v-else class="container-fluid p-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">{{ mensaje }}</h5>
                </div>
                <router-link :to="{name:'schedule-index' }">Volver</router-link>
            </div>
        </div>


    </div>
</template>

<script>
    export default {
        data() {
            return {
                horarios: [],
                horas: [],
                dias: [],
                mensaje: ''
            }
        },
        created() {
            let url = '/perfil/' + this.$route.params.id + '/horario';
            axios.get(url)
                .then((response) => {
                    this.horarios = response.data.horarios;
                    this.dias = response.data.dias;
                    this.horas = response.data.horas;
                    this.mensaje = response.data.mensaje;
                })
                .catch(console.log());
        }
    }
</script>

<style scoped>

</style>
