<template>
    <div class="container">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <router-link to="#" v-for="terapeuta in terapeutas" :key="terapeuta.id">
                <div class="col-12">
                    <div class="row border bg-secondary rounded">
                        <div class="col-4 align-middle">
                            <img v-if="terapeuta.imagen " :src="imagen(terapeuta.imagen)"
                                 alt="Usuario-" style="width: 120px; height: 120px;"
                                 class="img-fluid rounded"/>

                            <img v-else src="/imagenes/usuarios/default-user.jpg" alt="Usuario"
                                 style="width: 120px; height: 120px;" class="img-fluid rounded"/>
                        </div>
                        <div class="col-8">
                            <h5 class="text-primary">{{ terapeuta.name }}</h5>
                            <small>{{ terapeuta.email }}</small>
                            <small>{{ terapeuta.rut }}</small>
                        </div>
                    </div>
                </div>
            </router-link>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                terapeutas: []
            }
        },
        created() {
            axios.get('/user')
                .then((response) => {

                    this.terapeutas = response.data.users
                })
                .catch(console.log);
        },
        methods: {
            imagen(imagen) {
                return '/imagenes/usuarios/' + imagen;
            }
        }
    }
</script>

<style scoped>

</style>
