<template>
    <div class="row text-center">
        <div class="col-lg-4 col-xs-12 col-sm-12 col-md-4 p-2">
            <div class="small-box bg-secondary p-4">
                <div class="inner">

                    <img :src="imagen" alt="Usuario-" style="width: 120px; height: 120px;"
                         class="rounded img-fluid"/>
                    <h3>{{ usuario.name }}</h3>
                    <div>
                        <small>{{ usuario.email }}</small>
                    </div>
                    <div>
                        <small>{{ usuario.rut }}</small>
                    </div>

                    <div>
                        <small><i class="fa fa-map-marker"></i> {{ usuario.Centros.nombre }}</small>
                    </div>

                    <router-link to="#" type="button" class="btn btn-secondary btn-lg btn-block">Editar usuario
                    </router-link>

                    <button @click="eliminauser" class="btn btn-secondary btn-lg btn-block">Eliminar usuario</button>

                    <div class="col-12 text-center">
                        <button class="btn btn-secondary" @click="$router.go(-1) ">Volver</button>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="usuario.length >0">
        <div v-if="usuario.id_perfil == 1 &&  usuario.PuntajeUsuario.length > 0"
             class="col-lg-8 col-xs-12 col-sm-12 col-md-8">
            <h5>Comentarios del Usuario</h5>

            <table class="table table-bordered">
                <tr>
                    <th>Terapeuta</th>
                    <th>Comentario</th>
                    <th>Puntaje</th>
                </tr>

                <tr>
                <tr v-for="comentarios in usuario.PuntajeUsuario">
                    <td>{{ comentarios.ComentariosTerapeuta.name }}</td>
                    <td>{{ comentarios.comentario }}</td>
                    <td>{{ comentarios.puntaje }}</td>
                </tr>

            </table>

            <div class="text-center">
                <div class="col-lg-12 col-md col-xs-6 p-2 text-center">
                    <div class="small-box bg-secondary p-4">
                        <div class="inner">
                            <h3>El usuario no ha dejado comentarios todavia.</h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div v-else-if="usuario.PuntajeTerapeuta.length > 0 && usuario.id_perfil == 2"
             class="col-lg-8 col-xs-12 col-sm-12 col-md-8">

            <h5>Comentarios del Terapeuta</h5>
            <table class="table table-bordered">
                <tr>
                    <th>Usuario</th>
                    <th>Comentario</th>
                    <th>Puntaje</th>
                </tr>

                <tr v-for="comentarios in usuario.PuntajeTerapeuta">
                    <td>{{ comentarios.ComentariosUsuario.name }}</td>
                    <td>{{ comentarios.comentario }}</td>
                    <td>{{ comentarios.puntaje }}</td>
                </tr>

            </table>
        </div>

            <div v-else class="col-lg-3 col-xs-6 p-2 text-center">
                <div class="small-box bg-secondary p-4">
                    <div class="inner">
                        <h3>El terapeuta no tiene comentarios todavia.</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    export default {

        data() {
            return {
                usuario: Object
            }
        },
        computed: {
            imagen() {
                let img = this.usuario.imagen.length > 1 ? this.usuario.imagen : 'default-user.jpg';
                return "/imagenes/usuarios/" + img;
            }
        },
        methods: {
            eliminauser() {
                axios.post('/deleteuser', {user: this.user.id})
                    .then(console.log);
            }
        },
        created() {
            let url = '/admin/terapeutas/' + this.$route.params.id;
            axios.get(url)
                .then((response) => {
                    this.usuario = response.data.usuario;
                })
                .catch(console.log());
        }
    }
</script>

<style scoped>

</style>
