<template>
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Actualizar un Usuario</h3>
        </div>


        <div class="box-body">
            <div class="form-group">
                <label for="nombre">Nombre del Usuario</label>
                <input
                    name="nombre"
                    type="text"
                    class="form-control"
                    id="nombre"
                    v-model="terapeuta.name"
                    disabled
                >
            </div>
            <div class="form-group">
                <label for="tipo">Tipo de Perfil</label>
                <select
                    v-model="terapeuta.id_perfil"
                    name="tipo"
                    class="form-control"
                    id="tipo"
                >
                    <option v-for="perfil in perfiles" :value="perfil.id">{{perfil.tipo}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="centro">Centro Terapeutico</label>
                <select
                    v-model="terapeuta.centro_id"
                    name="centro"
                    class="form-control"
                    id="centro"
                >
                    <option value="0">Selecciona un Centro</option>

                    <option v-for="centro in centros" :value="centro.id">{{ centro.nombre }}</option>

                </select>
            </div>
        </div>
        <div class="box-footer">
            <button type="submit" @click="update" class="btn btn-success">Actualizar Usuario</button>
            <a class="btn btn-secondary" @click="router.go(-1) ">Volver</a>
        </div>

    </div>
</template>

<script>
    export default {
        data() {
            return {

                centros: [],
                terapeuta: [],
                perfiles: [{'id': 1, 'tipo': "Usuario"},{'id': 2, 'tipo': "Terapeuta"}],
            }
        },
        methods: {
            getcentros() {
                let url = '/admin/terapeutas/edit/' + this.$route.params.id;
                axios.get(url)
                    .then((response) => {
                        this.terapeuta = response.data.terapeuta;
                        this.centros = response.data.centros;
                        console.log(response.data)
                    })
            },
            update(){
                let url = '/admin/terapeutas/update/'+ this.$route.params.id+ '?tipo='+this.terapeuta.id_perfil+'&centro='+this.terapeuta.centro_id ;
                axios.get(url).then(console.log)
            }
        },
        created() {
            this.getcentros();
        }
    }
</script>

<style scoped>

</style>
