<template>
    <div class="container">
        <div class="box box-primary">
            <div class="row">
                <div class="box-header with-border col-8 align-left">
                    <h3 class="box-title">Actualizar Datos</h3>
                </div>
                <div v-if="user.id_perfil != 2" class="box-header with-border col-4 align-right">
                    <small class="box-title">
                        <router-link :to="{name:'user-formluario', params:{id: user.id}}">Quiero ser Terapeuta
                        </router-link>
                    </small>
                </div>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input
                        name="email"
                        type="email"
                        class="form-control"
                        id="email"
                        placeholder="Ingresa tu Email"
                        :value="user.email"
                    >
                </div>
                <div class="form-group">
                    <label for="phone">Telefono</label>
                    <input
                        name="phone"
                        type="number"
                        class="form-control"
                        id="phone"
                        placeholder="Ingresa tu Telefono"
                        :value="user.phone"
                    >
                </div>
                <div class="form-group">
                    <label for="direccion">Dirección</label>
                    <input
                        name="direccion"
                        type="text"
                        class="form-control"
                        id="direccion"
                        placeholder="Ingresa tu Dirección"
                        :value="user.direccion"
                    >
                </div>
                <div class="form-group">
                    <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                    <input
                        name="fecha_nacimiento"
                        type="date"
                        class="form-control"
                        id="fecha_nacimiento"
                        :value="user.fecha_nacimiento"
                    >
                </div>
                <div class="form-group">
                    <label for="imagen">Foto de Perfil</label>
                    <input
                        name="imagen"
                        type="file"
                        ref="file"
                        class="form-control"
                        id="imagen"
                        @change="onFileChanged"
                    >
                </div>
            </div>
            <div class="box-footer p-2">
                <button @click="actualizaruser" class="btn btn-success">Actualizar</button>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                user: Object
            }
        },
        created() {
            let url = 'user/' + this.$route.params.user + '/editar';
            axios.get(url)
                .then((response) => {
                    this.user = response.data.user;
                })
        },
        methods: {
            onFileChanged(event) {
                this.imagen = this.$refs.file[0];
            },
            actualizaruser() {
                let informacion = new FormData()

                informacion.append('fecha_nacimiento', this.user.fecha_nacimiento)
                informacion.append('direccion', this.user.direccion)
                informacion.append('email', this.user.email)
                informacion.append('phone', this.user.phone)
                informacion.append('imagen', this.imagen)

                let url = 'user/' + this.$route.params.user ;
                axios.put(url, informacion,{headers: {'content-type': 'multipart/form-data'}})
                .then(console.log)
            }
        }
    }
</script>
