<template>
    <div class="container">
        <div class="box box-primary">
            <div class="row">
                <div class="box-header with-border col-8 align-left">
                    <h3 class="box-title">Añadir descripción</h3>
                </div>
            </div>
            <form role="form" method="GET">

                <div class="box-body">
                    <div class="form-group">
                        <label for="descripcion">Descripción</label>
                        <input
                            name="descripcion"
                            type="longtext"
                            class="form-control"
                            id="descripcion"
                            placeholder="Ingresa una Descripción"
                            maxlength="250"
                            :value="user.descripcion"
                        >
                    </div>
                </div>
                <div class="box-footer p-2">
                    <button @click="update" class="btn btn-success">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                user: Object
            }
        },
        created() {
            let url = '/user/descripcion/' + this.$route.params.id
            axios.get(url).then(response => this.user = response.data.user)
        },
        methods: {
            update() {
                axios.post('/user/descripcion/' + this.user.id)
            }
        }
    }
</script>

<style scoped>

</style>
