<template>
    <div class="container">
        <div v-if="comentarios.length > 0" class="row justify-content-center">
            <div v-for="comentario in comentarios" class="col-12 col-sm-12 col-md-8 col-lg-8">
                <div class="row bg-secondary border rounded"
                     style="margin-bottom: 5px; margin-right: 5px; margin-left: 5px;">
                    <div class="col-2">
                        <img :src="imagen(comentario)" alt="Usuario-"
                             class="rounded img-responsive" style="width: 120px; height: 120px;"/>
                    </div>
                    <div class="col-10">
                        <div class="col-12">
                            <div class="row" style="color: #5F1961;">
                                <div class="col-4">
                                    Terapeuta
                                </div>
                                <div class="col-8">
                                    {{ comentario.name }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row text-texto">
                                <div class="col-4">
                                    Puntaje
                                </div>
                                <div class="col-8">
                                    {{ comentario.puntaje }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row text-texto">
                                <div class="col-4">
                                    Comentario
                                </div>
                                <div class="col-8">
                                    {{ comentario.comentario }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-else class="card text-center">
            <div class="card-body">
                <h5 class="card-title">No te han dejado comentarios todavia.</h5>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                comentarios: [],
                user: Object
            }
        },
        created() {
            let url = '/comentarios/terapeuta/' + this.$route.params.id;
            axios.get(url)
                .then(response => {
                    console.log(response.data);
                    this.comentarios = response.data.comentarios;
                    this.user = response.data.usuario;
                });
        },
        methods: {
            imagen(comen) {
                return '/imagenes/usuarios/' + comen.comentarios_terapeuta.imagen;
            }
        }
    }
</script>

<style scoped>

</style>
