<template>
    <div class="container">
        <div class="box box-primary">
            <div class="row">
                <div class="box-header with-border col-8 align-left">
                    <h3 class="box-title">Enviar un comentario!</h3>
                </div>
            </div>

            <div class="box-body">
                <div class="form-group">
                    <label for="terapeuta">Nombre del Terapeuta</label>
                    <input
                        name="terapeuta"
                        type="terapeuta"
                        class="form-control"
                        id="terapeuta"
                        :value="terapeuta.name"
                        disabled
                    >
                </div>
                <div class="form-group">
                    <label for="terapia">Nombre de la Terapia</label>
                    <input
                        name="terapia"
                        type="text"
                        class="form-control"
                        id="terapia"
                        :value="terapia.nombre"
                        disabled
                    >
                </div>
                <div class="form-group">
                    <label for="horario">Fecha de la Atención</label>
                    <input
                        name="horario"
                        type="text"
                        class="form-control"
                        id="horario"
                        :value="valores"
                        disabled
                    >
                </div>
                <div class="form-group">
                    <label for="precio">Precio de la Terapia</label>
                    <input
                        name="precio"
                        type="number"
                        class="form-control"
                        id="precio"
                        :value="atencion.precio"
                        disabled
                    >
                </div>
                <div class="form-group">
                    <label for="comentario">Comentario</label>
                    <input
                        name="comentario"
                        type="text"
                        class="form-control"
                        id="comentario"
                        placeholder="Ingresa un comentario"
                        v-model="comentario"
                    >
                </div>
                <div class="form-group">
                    <label for="puntaje">Puntaje</label>
                    <div class="form-group required">
                        <div class="col-sm-12" style="color: #EEE7F3;">
                            <input class="star star-1" value="1" type="radio" id="star-1" name="star"
                                   style="display: none;" @click="rate(1)" v-model="puntaje"/>
                            <label class="star star-1" for="star-1">
                                <span id="span-1" :style="span1" class="far fa-star fa-3x"></span>
                            </label>
                            <input class="star star-2" value="2" type="radio" id="star-2" name="star"
                                   style="display: none;" @click="rate(2)" v-model="puntaje"/>
                            <label class="star star-2" for="star-2">
                                <span id="span-2" :style="span2" class="far fa-star fa-3x"></span>
                            </label>
                            <input class="star star-3" value="3" type="radio" id="star-3" name="star"
                                   style="display: none;" @click="rate(3)" v-model="puntaje"/>
                            <label class="star star-3" for="star-3">
                                <span id="span-3" :style="span3" class="far fa-star fa-3x"></span>
                            </label>
                            <input class="star star-4" value="4" type="radio" id="star-4" name="star"
                                   style="display: none;" @click="rate(4)" v-model="puntaje"/>
                            <label class="star star-4" for="star-4">
                                <span id="span-4" :style="span4" class="far fa-star fa-3x"></span>
                            </label>
                            <input class="star star-5" value="5" type="radio" id="star-5" name="star"
                                   style="display: none;" @click="rate(5)" v-model="puntaje"/>
                            <label class="star star-5" for="star-5">
                                <span id="span-5" :style="span5" class="far fa-star fa-3x"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer p-2">
                <button @click="guardacomentario" class="btn btn-success">Enviar Comentario</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                atencion: Object,
                horario: Object,
                cliente: Object,
                terapia: Object,
                terapeuta: Object,
                comentario: '',
                puntaje: '',
                span1: '',
                span2: '',
                span3: '',
                span4: '',
                span5: '',
            }
        },
        created() {
            let url = '/comentarios/user/crea/' + this.$route.params.id;
            axios.get(url)
                .then((response) => {
                    this.atencion = response.data.atencion;
                    this.horario = response.data.horario;
                    this.terapia = response.data.terapia;
                    this.terapeuta = response.data.terapeuta;
                    this.cliente = response.data.cliente;
                })
        },
        methods: {
            guardacomentario() {
                let url = '/comentarios/user/store/' + this.$route.params.id;
                let datafor = {
                    id_cliente: this.cliente.id,
                    id_terapeuta: this.terapeuta.id,
                    id_atencion: this.atencion.id,
                    puntaje: this.puntaje,
                    comentario: this.comentario,

                };
                axios.post(url, datafor)
                    .then((response) => {
                        console.log(response.data)
                    })
            },
            rate(id) {
                if (id == 1) {
                    this.span1 = ' color:  #BB5352';
                    this.span2 = ' color:  #EEE7F3';
                    this.span3 = ' color:  #EEE7F3';
                    this.span4 = ' color:  #EEE7F3';
                    this.span5 = ' color:  #EEE7F3';
                } else if (id == 2) {
                    this.span1 = ' color:  #BB5352';
                    this.span2 = ' color:  #BB5352';
                    this.span3 = ' color:  #EEE7F3';
                    this.span4 = ' color:  #EEE7F3';
                    this.span5 = ' color:  #EEE7F3';
                } else if (id == 3) {
                    this.span1 = ' color:  #BB5352';
                    this.span2 = ' color:  #BB5352';
                    this.span3 = ' color:  #BB5352';
                    this.span4 = ' color:  #EEE7F3';
                    this.span5 = ' color:  #EEE7F3';
                } else if (id == 4) {
                    this.span1 = ' color:  #BB5352';
                    this.span2 = ' color:  #BB5352';
                    this.span3 = ' color:  #BB5352';
                    this.span4 = ' color:  #BB5352';
                    this.span5 = ' color:  #EEE7F3';
                } else if (id == 5) {
                    this.span1 = ' color:  #BB5352';
                    this.span2 = ' color:  #BB5352';
                    this.span3 = ' color:  #BB5352';
                    this.span4 = ' color:  #BB5352';
                    this.span5 = ' color:  #BB5352';
                }
                this.puntaje = id;
            }
        },
        computed: {
            valores() {
                return this.horario.fecha + '-' + this.horario.hora;
            }
        }
    }
</script>

<style scoped>

</style>
