<template>
    <div class="container">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Solicitar convertirse en Terapeuta</h3>
            </div>

            <div class="box-body">
                <hr>
                <div class="form-group">
                    <label for="descripcion">Descripción</label><br>
                    <small>Entrega una descripción detallada del porque quieres ser terapeuta.</small>
                    <input
                        name="descripcion"
                        type="text"
                        class="form-control"
                        id="descripcion"
                        :value="descripcion"
                    >
                </div>
                <hr>
                <div class="form-group">
                    <label for="terapias">Terapias</label><br>
                    <small>Selecciona una terapia para empezar.</small>
                    <div class="form-group">
                        <select class="form-control" name="terapias" v-bind="terapiaesc">
                            <option>Selecciona una terapia</option>

                            <option v-for="terapia in terapias" :value="terapia.id">{{ terapia.nombre }}</option>

                        </select>
                    </div>
                    <hr>
                </div>
                <div class="form-group">
                    <label for="precio">Precio</label><br>
                    <small>Indica el precio al cual quieres dar la terapia.</small>
                    <input
                        name="precio"
                        type="number"
                        class="form-control"
                        id="precio"
                        :value="precio"
                    >
                </div>
            </div>
            <div class="box-footer p-2">
                <button @click="solicitar" class="btn btn-success">Solicitar</button>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                terapias: [],
                terapiaesc: '',
                precio: 0,
                descripcion: ''
            }
        },
        created() {
            let url = 'user/' + this.$route.params.id + '/formulario';
            axios.get(url)
                .then(response => this.terapias = response.data.terapias);
        },
        methods: {
            solicitar() {
                let url = 'user/' + this.$route.params.id + '/formulario';
                axios.post(url, {
                    terapia: this.terapias,
                    precio: this.precio,
                    descripcion: this.descripcion
                }).then(console.log);
            }
        }
    }
</script>

<style scoped>

</style>
