<template>
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Mantenedor de Noticias</h3>
        </div>
        <router-link :to="{name:'noticias-crear'}" type="button" class="btn btn-secondary btn-lg btn-block">Crear
            Noticia
        </router-link>
        <router-link :to="{name:'noticias-listar'}" type="button" class="btn btn-secondary btn-lg btn-block">Listar
            Noticias
        </router-link>
    </div>
</template>

<script>
    export default {}
</script>

<style scoped>

</style>
