<template>
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Mantenedor de Terapias</h3>
        </div>
        <router-link :to="{name :'terapias-create'}" type="button" class="btn btn-secondary btn-lg btn-block">Crear
            Terapia
        </router-link>
        <router-link :to="{name:'terapias-listar'}" type="button" class="btn btn-secondary btn-lg btn-block">Listar
            Terapias
        </router-link>
    </div>
</template>

<script>
    export default {
        name: "MenuTerapias"
    }
</script>

<style scoped>

</style>
