<template>
    <div class="container">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Mantenedor de Terapias</h3>
            </div>
            <button type="button" class="btn btn-secondary btn-lg btn-block" @click="showCrear">Crear Terapia</button>
            <button  type="button" class="btn btn-secondary btn-lg btn-block" @click="listartodo">Listar Terapias</button>
        </div>
        <div v-if="crear" class="row">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Crear una Terapia</h3>
                </div>

                <div class="box-body">
                    <div class="form-group">
                        <label for="nombre">Nombre de la Terapia</label>
                        <input
                            name="nombre"
                            :value="creaTerapia.nombre"
                            type="text"
                            class="form-control"
                            id="nombre"
                            placeholder="Ingresa el Nombre de la Terapia"
                            required
                        >
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripción de la Terapia</label>
                        <input
                            name="descripcion"
                            :value="creaTerapia.descripcion"
                            type="text"
                            class="form-control"
                            id="descripcion"
                            placeholder="Ingresa la Descripción de la Terapia"
                            required
                        >
                    </div>
                    <div class="form-group">
                        <label for="imagen">Imagen de la Terapia</label>
                        <input
                            :value="creaTerapia.imagen"
                            name="imagen"
                            type="file"
                            class="form-control"
                            id="imagen"
                        >
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-success">Crear Terapia</button>
                    <a class="btn btn-secondary" @click="crear=false">Volver</a>
                </div>

            </div>
        </div>
        <div v-if="listar" class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6" v-if="terapias.length > 0" v-for="terapia in terapias">
                <a href="#">
                    <div class="row border bg-secondary rounded"
                         style="margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-4 align-middle">

                                    <img :src="imagenLista(terapia.imagen)" alt="terapia-imagen"
                                         class="img-fluid rounded" style="height: 120px; width: 120px;"/>

                                    <img src="/imagenes/terapias/default.jpg" alt="terapia-imagen"
                                         class="img-fluid rounded" style="height: 120px; width: 120px;"/>

                                </div>
                                <div class="col-5">
                                    <h5 class="text-primary">{{ terapia.nombre }}</h5>
                                    <p>{{ terapia.descripcion }}</p>
                                </div>
                                <div class="col-3">

                                    <small>{{ terapia.created_at }}</small>

                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</template>
<script>

    export default {

        data() {
            return {
                crear: false,
                listar: false,
                terapias: [],
                creaTerapia: {
                    imagen : null,
                    descripcion: '',
                    nombre: ''
                }
            }
        },
        methods: {
            listarTerapias() {
                axios.get('terapias').then((response) => {
                    this.terapias = response.data.terapias;
                })
            },
            listartodo(){
                this.crear = false;
                this.listarTerapias();
                this.listar = true
            },
            imagenLista(val) {
                return '/imagenes/terapias/' + val;
            },
            showCrear(){
                this.listar = false;
                this.crear = true;
            }
        }

    }
</script>
