<template>
    <div v-if="terapeutas.lengh >0" class="row">

        <div v-for="terapeuta in terapeutas" class="col-lg-4 col-xs-12 col-sm-12 col-md-6 p-4">
            <div class="row small-box bg-secondary p-3 rounded border border-primary">
                <div class="col-10">
                    <div class="inner">
                        <h3>{{ terapeuta.name }}</h3>
                        <small>{{ terapeuta.email }}</small>
                    </div>

                    <div v-if="terapeuta.Centros" class="icon">
                        <i class="fa fa-map-marker"></i> {{ terapeuta.Centros.nombre }}
                    </div>
                    <p v-if="!terapeuta.PuntajeTerapeuta">

                        No tiene evaluaciones
                    </p>
                    <p v-else>
                        {{ terapeuta.PuntajeTerapeuta }}
                    </p>
                    <div>
                        <router-link :to="{ name:'admin-user-show',params:{id:terapeuta.id} }" class="small-box-footer">
                            Ver más <i class="fa fa-arrow-circle-right"></i>
                        </router-link>
                    </div>
                </div>
                <div class="btn-group">

                    <div>
                        <button class="btn btn-primary small-box-footer"

                                @click="deleuser(terapeuta.id)"
                        ><i class="fas fa-trash-alt"></i></button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div v-else class="card text-center">
        <div class="card-body">
            <h5 class="card-title">No existen terapeutas.</h5>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                terapeutas: [],

            }
        },
        methods: {
            deluser(id) {
                let url = '/api/user/delete' + id;
                axios.post('').then(console.log);
            }
        }
    }
</script>
