<template>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-4"></div>
            <div class="col-lg-4 col-xs-12 p-2">
                <div class="small-box bg-secondary p-4">
                    <div class="inner">

                        <img :src="imagenuser" alt="Terapia-" class="card-img-top rounded img-fluid"/>

                        <h3>{{ cliente.name }}</h3>
                        <div>
                            <small>{{ cliente.email }}</small>
                        </div>
                        <div>
                            <small>{{ cliente.rut }}</small>
                        </div>

                        <div v-if="cliente.Centros">
                            <small><i class="fa fa-map-marker"></i> {{ cliente.Centros.nombre }}</small>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4"></div>

            <div v-if="cliente.id_perfil == 1" class="col-12">
                <h5>Comentarios del Usuario</h5>

                <table v-if="cliente.PuntajeUsuario && cliente.PuntajeUsuario > 0" class="table table-bordered">
                    <tr>
                        <th>Terapeuta</th>
                        <th>Comentario</th>
                        <th>Puntaje</th>
                    </tr>

                    <tr v-for="comentarios in cliente.PuntajeUsuario">
                        <td>{{ comentarios.ComentariosTerapeuta.name }}</td>
                        <td>{{ comentarios.comentario }}</td>
                        <td>{{ comentarios.puntaje }}</td>
                    </tr>

                </table>

                <div v-else class="text-center">
                    <div class="col-lg-12 col-md col-xs-6 p-2 text-center">
                        <div class="small-box bg-secondary p-4">
                            <div class="inner">
                                <h3>El usuario no ha dejado comentarios todavia.</h3>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div v-else-if="cliente.id_perfil == 2" class="col-12">

                <h5>Comentarios del Terapeuta</h5>
                <table class="table table-bordered" v-if="cliente.PuntajeTerapeuta && cliente.PuntajeTerapeuta > 0">
                    <tr>
                        <th>Usuario</th>
                        <th>Comentario</th>
                        <th>Puntaje</th>
                    </tr>

                    <tr v-for="comentarios in cliente.PuntajeTerapeuta">
                        <td>{{ comentarios.ComentariosUsuario.name }}</td>
                        <td>{{ comentarios.comentario }}</td>
                        <td>{{ comentarios.puntaje }}</td>
                    </tr>

                </table>

                <div v-else class="col-lg-3 col-xs-6 p-2 text-center">
                    <div class="small-box bg-secondary p-4">
                        <div class="inner">
                            <h3>El terapeuta no tiene comentarios todavia.</h3>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-12 text-center">
                <a class="btn btn-secondary" href="javascript:history.back()">Volver</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                cliente: Object
            }
        },
        created() {
            let url = '/admin/user/' + this.$route.params.id;
            axios.get(url)
                .then((response) => {
                    this.cliente = response.data.cliente;
                })
        },
        computed: {
            imagenuser() {

                let url = this.cliente.imagen !== void (0) ? this.cliente.imagen : 'default.jpg';
                return '/imagenes/usuarios/' + url;
            }
        }
    }
</script>

<style scoped>

</style>
