<template>
    <div class="container">
        <div class="row" v-if="terapeutas.length > 0">
            <div v-for="user in terapeutas" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <router-link :to="{name: 'admin-user-show', params: { id: user.id }}">
                    <div class="col-12">
                        <div class="row border bg-secondary rounded">
                            <div class="col-4 align-middle">
                                <img v-if="user.imagen" :src="imagen(user.imagen)"
                                     alt="Usuario-'$terapeuta->id'" style="width: 120px; height: 120px;"
                                     class="img-fluid rounded"/>
                                <img v-else src="/imagenes/usuarios/default-user.jpg" alt="Usuario-'$terapeuta->id'"
                                     style="width: 120px; height: 120px;" class="img-fluid rounded"/>
                            </div>
                            <div class="col-8">
                                <h5 class="text-primary">' {{user.name}} '</h5>
                                <small>' {{user.email}} '</small>
                                <small>' {{user.rut}} '</small>
                            </div>
                        </div>
                    </div>
                </router-link>
            </div>
        </div>
        <div v-else class="card text-center">
            <div class="card-body">
                <h5 class="card-title">No existen terapeutas.</h5>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                terapeutas: [],
            }
        },
        created() {
            axios.get('user')
                .then((response) => {
                    this.terapeutas = response.data.users;
                })
        },
        methods: {
            imagen(val) {
                return '/imagenes/usuarios/' + val;
            }
        }
    }
</script>
